 # <div align="center">  The Data Scientist’s Toolbox Tutorial - 1 </div>
 ### <div align="center"><b>Quite Practical and Far from any Theoretical Concepts</b></div>
 
<div style="text-align:center">last update: <b>12/03/2018</b></div>

you may be interested have a look at it: 
>[**The Data Scientist’s Toolbox Tutorial - 2**](https://www.kaggle.com/mjbahmani/the-data-scientist-s-toolbox-tutorial-2)

---------------------------------------------------------------------
Fork, Run and Follow this kernel on GitHub:
> ###### [ GitHub](https://github.com/mjbahmani/10-steps-to-become-a-data-scientist)


-------------------------------------------------------------------------------------------------------------
 **I hope you find this kernel helpful and some <font color="red">UPVOTES</font> would be very much appreciated**
 
 -----------

 <a id="top"></a> <br>
**Notebook Content**
1. [Introduction](#1)
    1. [Import](#2)
    1. [Version](#3)
    1. [setup](#4)
1. [Python](#5)
    1. [Python Syntax compared to other programming languages](#6)
    1. [Python: Basics](#7)
        1. [Variables](#8)
        1. [Operators](#9)
    1. [Functions](#10)
    1. [Types and Sequences](#11)
    1. [More on Strings](#12)
    1. [Reading and Writing CSV files](#13)
    1. [Dates and Times](#14)
    1. [Objects and map()](#15)
    1. [Lambda and List Comprehensions](#16)
    1. [OOP](#17)
        1. [Inheritance](#18)
    1. [ Python JSON](#19)
        1. [Convert from Python to JSON](#20)
    1. [Python PIP](#21)
        1. [Install PIP](#22)
    1. [Python Try Except](#23)
    1. [Python Iterators](#24)
        1. [Looping Through an Iterator](#25)
    1. [Dictionary](#26)
    1. [Tuples](#27)
    1. [Set](#28)
        1. [Add Items](#29)
 1. [Python Packages](#30)
1. [Numpy](#31)
    1. [Creating Arrays](#32)
    1. [Combining Arrays](#33)
    1. [Operations](#34)
    1. [Math Functions](#35)
    1. [Indexing / Slicing](#36)
    1. [Copying Data](#37)
    1. [Iterating Over Arrays](#38)
    1. [The Series Data Structure](#39)
    1. [Querying a Series](#40)
1. [Pandas](#41)
    1. [The DataFrame Data Structure](#42)
    1. [Dataframe Indexing and Loading](#43)
    1. [Missing values](#44)
    1. [Merging Dataframes](#45)
    1. [Making Code Pandorable](#46)
    1. [Group by](#47)
    1. [Scales](#48)
    1. [Pivot Tables](#49)
    1. [Date Functionality](#50)
    1. [Distributions in Pandas](#51)
    1. [Hypothesis Testing](#52)
1. [CheatSheet](#60)
1. [Conclusion](#61)
1. [References](#62)

<a id="1"></a> <br>
## 1-Introduction

In this kernel, we have a comprehensive tutorials for some important packages in python after that you can read my other kernels about machine learning.

 <img src="http://s8.picofile.com/file/8340141626/packages1.png"  height="420" width="420">
 
 ###### [Go to top](#top)

<a id="2"></a> <br>
## 1-1 Import

In [ ]:
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import matplotlib.pyplot as plt
import plotly.graph_objs as go
import scipy.stats as stats
import plotly.plotly as py
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib
import warnings
import sklearn
import scipy
import json
import sys
import csv
import os

<a id="3"></a> <br>
## 1-2 Version

In [ ]:
print('matplotlib: {}'.format(matplotlib.__version__))
print('sklearn: {}'.format(sklearn.__version__))
print('scipy: {}'.format(scipy.__version__))
print('seaborn: {}'.format(sns.__version__))
print('pandas: {}'.format(pd.__version__))
print('numpy: {}'.format(np.__version__))
print('Python: {}'.format(sys.version))

<a id="4"></a> <br>
##  1-3 Setup

In [ ]:
warnings.filterwarnings('ignore')
sns.set(color_codes=True)
plt.style.available
%matplotlib inline
%precision 2

 <a id="5"></a> <br>
# 2-Python

**Python** is a modern, robust, high level programming language. It is very easy to pick up even if you are completely new to programming.

It is used for:

1. Web development (server-side),
1. Software development,
1. Mathematics,
1. System scripting.
1. Data Science

<a id="6"></a> <br>
## 2-1 Python Syntax compared to other programming languages

1. Python was designed to for readability, and has some similarities to the English language with influence from mathematics.
1. Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.
1. Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.
###### [Go to top](#top)

<a id="7"></a> <br>
# 2-2 Python: Basics

In [ ]:
import this

<a id="8"></a> <br>
### 2-2-1 Variables
A name that is used to denote something or a value is called a variable. In python, variables can be declared and values can be assigned to it as follows,

In [ ]:
x = 2
y = 5
xy = 'Hey'

<a id="9"></a> <br>
### 2-2-2 Operators

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

### Relational Operators
| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |
### Bitwise Operators
| Symbol | Task Performed |
|----|---|
| &  | Logical And |
| l  | Logical OR |
| ^  | XOR |
| ~  | Negate |
| >>  | Right shift |
| <<  | Left shift |

###### [Go to top](#top)

<a id="10"></a> <br>
# 2-3 Python : Functions

<br>
`add_numbers` is a function that takes two numbers and adds them together.

In [ ]:
def add_numbers(x, y):
    return x + y

add_numbers(1, 2)

<br>
`add_numbers` updated to take an optional 3rd parameter. Using `print` allows printing of multiple expressions within a single cell.

In [ ]:
def add_numbers(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z

print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

<br>
`add_numbers` updated to take an optional flag parameter.

In [ ]:
def add_numbers(x, y, z=None, flag=False):
    if (flag):
        print('Flag is true!')
    if (z==None):
        return x + y
    else:
        return x + y + z
    
print(add_numbers(1, 2, flag=True))

<br>
**Assign function** `add_numbers` to variable `a`.

In [ ]:
def add_numbers(x,y):
    return x+y

a = add_numbers
a(1,2)

<a id="11"></a> <br>
# 2-4 Python : Types and Sequences

<br>
Use `type` to return the object's type.

In [ ]:
type('This is a string')

In [ ]:
type(None)

In [ ]:
type(1)

In [ ]:
type(1.0)

In [ ]:
type(add_numbers)

<br>
Tuples are an **immutable** data structure (cannot be altered).

In [ ]:
x = (1, 'a', 2, 'b')
type(x)

<br>
Lists are a mutable data structure.

In [ ]:
x = [1, 'a', 2, 'b']
type(x)

<br>
Use `append` to append an object to a list.

In [ ]:
x.append(3.3)
print(x)

<br>
This is an example of how to loop through each item in the list.

In [ ]:
for item in x:
    print(item)

<br>
Or using the indexing operator:

In [ ]:
i=0
while( i != len(x) ):
    print(x[i])
    i = i + 1

<br>
Use `+` to concatenate lists.

In [ ]:
[1,2] + [3,4]

<br>
Use `*` to repeat lists.

In [ ]:
[1]*3

<br>
Use the `in` operator to check if something is inside a list.

In [ ]:
1 in [1, 2, 3]

<br>
Now let's look at strings. Use bracket notation to slice a string.

###### [Go to top](#top)

In [ ]:
x = 'This is a string'
print(x[0]) #first character
print(x[0:1]) #first character, but we have explicitly set the end character
print(x[0:2]) #first two characters

<br>
This will return the last element of the string.

In [ ]:
x[-1]

<br>
This will return the slice starting from the 4th element from the end and stopping before the 2nd element from the end.

In [ ]:
x[-4:-2]

<br>
This is a slice from the beginning of the string and stopping before the 3rd element.

In [ ]:
x[:3]

<br>
And this is a slice starting from the 3rd element of the string and going all the way to the end.

In [ ]:
x[3:]

In [ ]:
firstname = 'MJ'
lastname = 'Bahmani'

print(firstname + ' ' + lastname)
print(firstname*3)
print('mj' in firstname)

<br>
`split` returns a list of all the words in a string, or a list split on a specific character.

In [ ]:
firstname = 'Mr Dr Mj Bahmani'.split(' ')[0] # [0] selects the first element of the list
lastname = 'Mr Dr Mj Bahmani'.split(' ')[-1] # [-1] selects the last element of the list
print(firstname)
print(lastname)

In [ ]:
'MJ' + str(2)

<br>
**Dictionaries** associate keys with values.

In [ ]:
x = {'MJ Bahmani': 'Mohamadjavad.bahmani@gmail.com', 'irmatlab': 'irmatlab.ir@gmail.com'}
x['MJ Bahmani'] # Retrieve a value by using the indexing operator

In [ ]:
x['MJ Bahmani'] = None
x['MJ Bahmani']

<br>
Iterate over all of the keys:

In [ ]:
for name in x:
    print(x[name])

<br>
Iterate over all of the values:

In [ ]:
for email in x.values():
    print(email)

<br>
Iterate over all of the **items** in the list:

In [ ]:
for name, email in x.items():
    print(name,':',email)

<br>
You can unpack a sequence into different variables:

In [ ]:
x = ('MJ', 'Bahmani', 'Mohamadjavad.bahmani@gmail.com')
fname, lname, email = x

In [ ]:
fname

In [ ]:
lname

<a id="12"></a> <br>
# 2-5 Python: More on Strings

###### [Go to top](#top)

In [ ]:
print('MJ' + str(2))

<br>
Python has a built in method for convenient string formatting.

In [ ]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'MJ'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

<a id="13"></a> <br>
# 2-6 Python:Reading and Writing CSV files

<br>
Let's import our datafile train.csv 
###### [Go to top](#top)

In [ ]:


with open('../input/house-prices-advanced-regression-techniques/train.csv') as csvfile:
    house_train = list(csv.DictReader(csvfile))
    
house_train[:1] # The first three dictionaries in our list.

In [ ]:
type(house_train)

<br>
`csv.Dictreader` has read in each row of our csv file as a dictionary. `len` shows that our list is comprised of 234 dictionaries.

In [ ]:
len(house_train)

<br>
`keys` gives us the column names of our csv.

In [ ]:
house_train[0].keys()

<br>
How to do some math action on the data set

In [ ]:
sum(float(d['SalePrice']) for d in house_train) / len(house_train)

<br>
Use `set` to return the unique values for the type of Sex  in our dataset have.

In [ ]:
SalePrice = set(d['SalePrice'] for d in house_train)
SalePrice

<a id="14"></a> <br>
# 2-7 Python: Dates and Times

In [ ]:
import datetime as dt
import time as tm

<br>
`time` returns the current time in seconds since the Epoch. (January 1st, 1970)

###### [Go to top](#top)

In [ ]:
tm.time()

<br>
Convert the timestamp to datetime.

In [ ]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

<br>
Handy datetime attributes:

In [ ]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second # get year, month, day, etc.from a datetime

<br>
`timedelta` is a duration expressing the difference between two dates.

In [ ]:
delta = dt.timedelta(days = 100) # create a timedelta of 100 days
delta

<br>
`date.today` returns the current local date.

In [ ]:
today = dt.date.today()

In [ ]:
today - delta # the date 100 days ago

In [ ]:
today > today-delta # compare dates

<a id="15"></a> <br>
# 2-8 Python: Objects and map()

<br>
An example of a class in python:

In [ ]:
class Person:
    department = 'School of Information' #a class variable

    def set_name(self, new_name): #a method
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [ ]:
person = Person()
person.set_name('MJ Bahmani')
person.set_location('MI, Berlin, Germany')
print('{} live in {} and works in the department {}'.format(person.name, person.location, person.department))

<br>
Here's an example of mapping the `min` function between two lists.

In [ ]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
cheapest

<br>
Now let's iterate through the map object to see the values.

In [ ]:
for item in cheapest:
    print(item)

<a id="16"></a> <br>
# 2-9-Python : Lambda and List Comprehensions

<br>
Here's an example of lambda that takes in three parameters and adds the first two.

In [ ]:
my_function = lambda a, b, c : a + b

In [ ]:
my_function(1, 2, 3)

<br>
Let's iterate from 0 to 9 and return the even numbers.

###### [Go to top](#top)

In [ ]:
my_list = []
for number in range(0, 9):
    if number % 2 == 0:
        my_list.append(number)
my_list

<br>
Now the same thing but with list comprehension.

In [ ]:
my_list = [number for number in range(0,10) if number % 2 == 0]
my_list

<a id="17"></a> <br>
# 2-10 OOP
1. **Class** − A user-defined prototype for an object that defines a set of attributes that characterize any object of the class. The attributes are data members (class variables and instance variables) and methods, accessed via dot notation.

1. **Class variable** − A variable that is shared by all instances of a class. Class variables are defined within a class but outside any of the class's methods. Class variables are not used as frequently as instance variables are.

1. **Data member** − A class variable or instance variable that holds data associated with a class and its objects.

1. **Function overloading** − The assignment of more than one behavior to a particular function. The operation performed varies by the types of objects or arguments involved.

1. **Instance variable** − A variable that is defined inside a method and belongs only to the current instance of a class.

1. **Inheritance** − The transfer of the characteristics of a class to other classes that are derived from it.

1. **Instance** − An individual object of a certain class. An object obj that belongs to a class Circle, for example, is an instance of the class Circle.

1. **Instantiation** − The creation of an instance of a class.

1. **Method** − A special kind of function that is defined in a class definition.

1. **Object** − A unique instance of a data structure that's defined by its class. An object comprises both data members (class variables and instance variables) and methods.

1. **Operator overloading** − The assignment of more than one function to a particular operator.[4]

###### [Go to top](#top)

In [ ]:
class FirstClass:
    test = 'test'
    def __init__(self,name,symbol):
        self.name = name
        self.symbol = symbol

In [ ]:
eg3 = FirstClass('Three',3)

In [ ]:
print (eg3.test, eg3.name)

In [ ]:
class FirstClass:
    def __init__(self,name,symbol):
        self.name = name
        self.symbol = symbol
    def square(self):
        return self.symbol * self.symbol
    def cube(self):
        return self.symbol * self.symbol * self.symbol
    def multiply(self, x):
        return self.symbol * x

In [ ]:
eg4 = FirstClass('Five',5)

In [ ]:
print (eg4.square())
print (eg4.cube())

In [ ]:
eg4.multiply(2)

In [ ]:
FirstClass.multiply(eg4,2)

<a id="18"></a> <br>
### 2-10-1 Inheritance

There might be cases where a new class would have all the previous characteristics of an already defined class. So the new class can "inherit" the previous class and add it's own methods to it. This is called as inheritance.

Consider class SoftwareEngineer which has a method salary.

In [ ]:
class SoftwareEngineer:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def salary(self, value):
        self.money = value
        print (self.name,"earns",self.money)

In [ ]:
a = SoftwareEngineer('Kartik',26)

In [ ]:
a.salary(40000)

In [ ]:
dir(SoftwareEngineer)

In [ ]:
class Artist:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def money(self,value):
        self.money = value
        print (self.name,"earns",self.money)
    def artform(self, job):
        self.job = job
        print (self.name,"is a", self.job)

In [ ]:
b = Artist('Nitin',20)

In [ ]:
b.money(50000)
b.artform('Musician')

In [ ]:
dir(Artist)

<a id="19"></a> <br>
## 2-11 Python JSON

In [ ]:


# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])

<a id="20"></a> <br>
## 2-11-1 Convert from Python to JSON

In [ ]:
# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

You can convert Python objects of the following types, into JSON strings:

* dict
* list
* tuple
* string
* int
* float
* True
* False
* None

###### [Go to top](#top)

In [ ]:
print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

Convert a Python object containing all the legal data types:

In [ ]:
x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

print(json.dumps(x))

<a id="21"></a> <br>
## 2-12 Python PIP

<a id="21"></a> <br>
### 2-12-1 What is a Package?
A package contains all the files you need for a **module**.

**Modules** are Python code libraries you can include in your project.

###### [Go to top](#top)

<a id="22"></a> <br>
### 2-12-2 Install PIP
If you do not have PIP installed, you can download and install it from this page: https://pypi.org/project/pip/

<a id="23"></a> <br>
## 2-13 Python Try Except
The **try** block lets you test a block of code for errors.

The **except** block lets you handle the error.

The **finally** block lets you execute code, regardless of the result of the try- and except blocks.

In [ ]:
try:
  print(x)
except NameError:
  print("Variable x is not defined")
except:
  print("Something else went wrong")

In [ ]:
try:
  print(x)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

<a id="24"></a> <br>
## 2-14 Python Iterators
An iterator is an object that contains a countable number of values.

An iterator is an object that can be iterated upon, meaning that you can traverse through all the values.

Technically, in Python, an iterator is an object which implements the iterator protocol, which consist of the methods __iter__() and __next__().
###### [Go to top](#top)

Return a iterator from a tuple, and print each value:

In [ ]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

<a id="25"></a> <br>
### 2- 14-1 Looping Through an Iterator

In [ ]:
mytuple = ("apple", "banana", "cherry")

for x in mytuple:
  print(x)

<a id="26"></a> <br>
## 2- 15 Dictionary
A **dictionary** is a collection which is **unordered, changeable and indexed**. In Python dictionaries are written with curly brackets, and they have **keys and values**.

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

<a id="27"></a> <br>
## 2-16 Tuples
A **tuple** is a collection which is **ordered and unchangeable**. In Python tuples are written with round brackets.

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

<a id="28"></a> <br>
## 2-19 Set
A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.
###### [Go to top](#top)

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

<a id="29"></a> <br>
### 2-17-1 Add Items
To add one item to a set use the add() method.

To add more than one item to a set use the update() method.
###### [Go to top](#top)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

<a id="30"></a> <br>
# Python Packages
* Numpy
* Pandas
* Matplotlib
* Seaborn
* Sklearn
* plotly

<a id="31"></a> <br>
# 3- Numerical Python (NumPy)

In [ ]:
import numpy as np

<a id="32"></a> <br>
## 3-1 NumPy :Creating Arrays

Create a list and convert it to a numpy array

In [ ]:
mylist = [1, 2, 3]
x = np.array(mylist)
x

<br>
Or just pass in a list directly

In [ ]:
y = np.array([4, 5, 6])
y

<br>
Pass in a list of lists to create a multidimensional array.

In [ ]:
m = np.array([[7, 8, 9], [10, 11, 12]])
m

<br>
Use the shape method to find the dimensions of the array. (rows, columns).

In [ ]:
m.shape

<br>
`arange` returns evenly spaced values within a given interval.

In [ ]:
n = np.arange(0, 30, 2) # start at 0 count up by 2, stop before 30
n

<br>
`reshape` returns an array with the same data with a new shape.

In [ ]:
n = n.reshape(3, 5) # reshape array to be 3x5
n

<br>
`linspace` returns evenly spaced numbers over a specified interval.

In [ ]:
o = np.linspace(0, 4, 9) # return 9 evenly spaced values from 0 to 4
o

<br>
`resize` changes the shape and size of array in-place.

In [ ]:
o.resize(3, 3)
o

<br>
`ones` returns a new array of given shape and type, filled with ones.

In [ ]:
np.ones((3, 2))

<br>
`zeros` returns a new array of given shape and type, filled with zeros.

In [ ]:
np.zeros((2, 3))

<br>
`eye` returns a 2-D array with ones on the diagonal and zeros elsewhere.

In [ ]:
np.eye(3)

<br>
`diag` extracts a diagonal or constructs a diagonal array.

In [ ]:
np.diag(y)

<br>
Create an array using repeating list (or see `np.tile`)

In [ ]:
np.array([1, 2, 3] * 3)

<br>
Repeat elements of an array using `repeat`.

In [ ]:
np.repeat([1, 2, 3], 3)

<a id="33"></a> <br>
## 3-2 Numpy:Combining Arrays

###### [Go to top](#top)

In [ ]:
p = np.ones([2, 3], int)
p

<br>
Use `vstack` to stack arrays in sequence vertically (row wise).

In [ ]:
np.vstack([p, 2*p])

<br>
Use `hstack` to stack arrays in sequence horizontally (column wise).

In [ ]:
np.hstack([p, 2*p])

<a id="34"></a> <br>
## 3-3 Numpy:Operations

###### [Go to top](#top)

Use `+`, `-`, `*`, `/` and `**` to perform element wise addition, subtraction, multiplication, division and power.

In [ ]:
print(x + y) # elementwise addition     [1 2 3] + [4 5 6] = [5  7  9]
print(x - y) # elementwise subtraction  [1 2 3] - [4 5 6] = [-3 -3 -3]

In [ ]:
print(x * y) # elementwise multiplication  [1 2 3] * [4 5 6] = [4  10  18]
print(x / y) # elementwise divison         [1 2 3] / [4 5 6] = [0.25  0.4  0.5]

In [ ]:
print(x**2) # elementwise power  [1 2 3] ^2 =  [1 4 9]

<br>
**Dot Product:**  

$ \begin{bmatrix}x_1 \ x_2 \ x_3\end{bmatrix}
\cdot
\begin{bmatrix}y_1 \\ y_2 \\ y_3\end{bmatrix}
= x_1 y_1 + x_2 y_2 + x_3 y_3$

In [ ]:
x.dot(y) # dot product  1*4 + 2*5 + 3*6

In [ ]:
z = np.array([y, y**2])
print(len(z)) # number of rows of array

<br>
Let's look at transposing arrays. Transposing permutes the dimensions of the array.

In [ ]:
z = np.array([y, y**2])
z

<br>
The shape of array `z` is `(2,3)` before transposing.

In [ ]:
z.shape

<br>
Use `.T` to get the transpose.

In [ ]:
z.T

<br>
The number of rows has swapped with the number of columns.

In [ ]:
z.T.shape

<br>
Use `.dtype` to see the data type of the elements in the array.

In [ ]:
z.dtype

<br>
Use `.astype` to cast to a specific type.

In [ ]:
z = z.astype('f')
z.dtype

<a id="35"></a> <br>
## 3-4 Numpy: Math Functions

###### [Go to top](#top)

Numpy has many built in math functions that can be performed on arrays.

In [ ]:
a = np.array([-4, -2, 1, 3, 5])

In [ ]:
a.sum()

In [ ]:
a.max()

In [ ]:
a.min()

In [ ]:
a.mean()

In [ ]:
a.std()

<br>
`argmax` and `argmin` return the index of the maximum and minimum values in the array.

In [ ]:
a.argmax()

In [ ]:
a.argmin()

<a id="36"></a> <br>

## 3-5 Numpy:Indexing / Slicing
###### [Go to top](#top)

In [ ]:
s = np.arange(13)**2
s

<br>
Use bracket notation to get the value at a specific index. Remember that indexing starts at 0.

In [ ]:
s[0], s[4], s[-1]

<br>
Use `:` to indicate a range. `array[start:stop]`


Leaving `start` or `stop` empty will default to the beginning/end of the array.

In [ ]:
s[1:5]

<br>
Use negatives to count from the back.

In [ ]:
s[-4:]

<br>
A second `:` can be used to indicate step-size. `array[start:stop:stepsize]`

Here we are starting 5th element from the end, and counting backwards by 2 until the beginning of the array is reached.

In [ ]:
s[-5::-2]

<br>
Let's look at a multidimensional array.

In [ ]:
r = np.arange(36)
r.resize((6, 6))
r

<br>
Use bracket notation to slice: `array[row, column]`.

In [ ]:
r[2, 2]

<br>
And use : to select a range of rows or columns.

In [ ]:
r[3, 3:6]

<br>
Here we are selecting all the rows up to (and not including) row 2, and all the columns up to (and not including) the last column.

In [ ]:
r[:2, :-1]

<br>
This is a slice of the last row, and only every other element.

In [ ]:
r[-1, ::2]

<br>
We can also perform conditional indexing. Here we are selecting values from the array that are greater than 30. (Also see `np.where`)

In [ ]:
r[r > 30]

<br>
Here we are assigning all values in the array that are greater than 30 to the value of 30.
###### [Go to top](#top)

In [ ]:
r[r > 30] = 30
r

<a id="37"></a> <br>
## 3-6 Numpy :Copying Data

Be careful with copying and modifying arrays in NumPy!


`r2` is a slice of `r`

In [ ]:
r2 = r[:3,:3]
r2

<br>
Set this slice's values to zero ([:] selects the entire array)

In [ ]:
r2[:] = 0
r2

<br>
`r` has also been changed!

In [ ]:
r

<br>
To avoid this, use `r.copy` to create a copy that will not affect the original array

In [ ]:
r_copy = r.copy()
r_copy

<br>
Now when r_copy is modified, r will not be changed.

In [ ]:
r_copy[:] = 10
print(r_copy, '\n')
print(r)

<a id="38"></a> <br>
## 3-7 Numpy: Iterating Over Arrays

Let's create a new 4 by 3 array of random numbers 0-9.

In [ ]:
test = np.random.randint(0, 10, (4,3))
test

<br>
Iterate by row:

In [ ]:
for row in test:
    print(row)

<br>
Iterate by index:

In [ ]:
for i in range(len(test)):
    print(test[i])

<br>
Iterate by row and index:

In [ ]:
for i, row in enumerate(test):
    print('row', i, 'is', row)

<br>
Use `zip` to iterate over multiple iterables.

In [ ]:
test2 = test**2
test2

In [ ]:
for i, j in zip(test, test2):
    print(i,'+',j,'=',i+j)

<a id="39"></a> <br>
## 3-8  Numpy: The Series Data Structure
One-dimensional ndarray with axis labels (including time series)

In [ ]:
animals = ['Tiger', 'Bear', 'Moose']
pd.Series(animals)

In [ ]:
numbers = [1, 2, 3]
pd.Series(numbers)

In [ ]:
animals = ['Tiger', 'Bear', None]
pd.Series(animals)

In [ ]:
numbers = [1, 2, None]
pd.Series(numbers)

In [ ]:
import numpy as np
np.nan == None

In [ ]:
np.nan == np.nan

In [ ]:
np.isnan(np.nan)

In [ ]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

In [ ]:
s.index

In [ ]:
s = pd.Series(['Tiger', 'Bear', 'Moose'], index=['India', 'America', 'Canada'])
s

In [ ]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports, index=['Golf', 'Sumo', 'Hockey'])
s

<a id="40"></a> <br>
# 3-9 Numpy: Querying a Series

In [ ]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

In [ ]:
s.iloc[3]

In [ ]:
s.loc['Golf']

In [ ]:
s[3]

In [ ]:
s['Golf']

In [ ]:
sports = {99: 'Bhutan',
          100: 'Scotland',
          101: 'Japan',
          102: 'South Korea'}
s = pd.Series(sports)

In [ ]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])
s

In [ ]:
total = 0
for item in s:
    total+=item
print(total)

In [ ]:
total = np.sum(s)
print(total)

In [ ]:
#this creates a big series of random numbers
s = pd.Series(np.random.randint(0,1000,10000))
s.head()

In [ ]:
len(s)

In [ ]:
%%timeit -n 100
summary = 0
for item in s:
    summary+=item

In [ ]:
%%timeit -n 100
summary = np.sum(s)

In [ ]:
s+=2 #adds two to each item in s using broadcasting
s.head()

In [ ]:
for label, value in s.iteritems():
    s.set_value(label, value+2)
s.head()

In [ ]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,100))
for label, value in s.iteritems():
    s.loc[label]= value+2

In [ ]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,100))
s+=2

In [ ]:
s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'
s

In [ ]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

In [ ]:
original_sports

In [ ]:
cricket_loving_countries

In [ ]:
all_countries

In [ ]:
all_countries.loc['Cricket']

<a id="41"></a> <br>
## 4- Pandas:The DataFrame Data Structure
 You'll hone your pandas skills by learning how to organize, reshape, and aggregate multiple data sets to answer your specific questions.
 **Pandas**:
Two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). Arithmetic operations align on both row and column labels. Can be thought of as a dict-like container for Series objects. The primary pandas data structure.

Pandas is capable of many tasks including:

Reading/writing many different data formats
Selecting subsets of data
Calculating across rows and down columns
Finding and filling missing data
Applying operations to independent groups within the data
Reshaping data into different forms
Combing multiple datasets together
Advanced time-series functionality
Visualization through matplotlib and seaborn
Although pandas is very capable, it does not provide functionality for the entire data science pipeline. Pandas is typically the intermediate tool used for data exploration and cleaning squashed between data capturing and storage, and data modeling and predicting.
###### [Go to top](#top)

In [ ]:

purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

In [ ]:
df.loc['Store 2']

In [ ]:
type(df.loc['Store 2'])

In [ ]:
df.loc['Store 1']

In [ ]:
df.loc['Store 1', 'Cost']

In [ ]:
df.T

In [ ]:
df.T.loc['Cost']

In [ ]:
df['Cost']

In [ ]:
df.loc['Store 1']['Cost']

In [ ]:
df.loc[:,['Name', 'Cost']]

In [ ]:
df.drop('Store 1')

In [ ]:
df

In [ ]:
copy_df = df.copy()
copy_df = copy_df.drop('Store 1')
copy_df

In [ ]:
copy_df.drop

In [ ]:
del copy_df['Name']
copy_df

In [ ]:
df['Location'] = None
df

In [ ]:
costs = df['Cost']
costs

In [ ]:
costs+=2
costs

In [ ]:
df

<a id="42"></a> <br>
# 4-1 Pandas:Dataframe Indexing and Loading

As a Data Scientist, you'll often find that the data you need is not in a single file. It may be spread across a number of text files, spreadsheets, or databases. You want to be able to import the data of interest as a collection of DataFrames and figure out how to combine them to answer your central questions.
###### [Go to top](#top)

In [ ]:
df = pd.read_csv('../input/house-prices-advanced-regression-techniques/train.csv')
df.head()

In [ ]:
df.columns

In [ ]:
# Querying a DataFrame

In [ ]:
df['SalePrice'] > 0

In [ ]:
only_SalePrice = df.where(df['SalePrice'] > 0)
only_SalePrice.head()

In [ ]:
only_SalePrice['SalePrice'].count()

In [ ]:
df['SalePrice'].count()

In [ ]:
only_SalePrice = only_SalePrice.dropna()
only_SalePrice.head()

In [ ]:
only_SalePrice = df[df['SalePrice'] > 0]
only_SalePrice.head()

In [ ]:
len(df[(df['SalePrice'] > 0) | (df['SalePrice'] > 0)])

In [ ]:
df[(df['SalePrice'] > 0) & (df['SalePrice'] == 0)]

<a id="43"></a> <br>
# Indexing Dataframes

In [ ]:
df.head()

In [ ]:
df['SalePrice'] = df.index
df = df.set_index('SalePrice')
df.head()

In [ ]:

df = df.reset_index()
df.head()

In [ ]:
df = pd.read_csv('../input/titanic/train.csv')
df.head()

In [ ]:
df['Age'].unique()

In [ ]:
df=df[df['Age'] == 50]
df.head()

<a id="44"></a> <br>
# 4-2 Pandas:Missing values

In [ ]:
df = pd.read_csv('../input/titanic/train.csv')
df

In [ ]:
df.fillna

In [ ]:
df = df.set_index('PassengerId')
df = df.sort_index()
df

In [ ]:
df = df.reset_index()
df = df.set_index(['PassengerId', 'Survived'])
df

In [ ]:
df = df.fillna(method='ffill')
df.head()

<a id="45"></a> <br>
# 4-3 Pandas :Merging Dataframes
pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

In [ ]:
df = pd.DataFrame([{'Name': 'MJ', 'Item Purchased': 'Sponge', 'Cost': 22.50},
                   {'Name': 'Kevyn', 'Item Purchased': 'Kitty Litter', 'Cost': 2.50},
                   {'Name': 'Filip', 'Item Purchased': 'Spoon', 'Cost': 5.00}],
                  index=['Store 1', 'Store 1', 'Store 2'])
df

In [ ]:
df['Date'] = ['December 1', 'January 1', 'mid-May']
df

In [ ]:
df['Delivered'] = True
df

In [ ]:
df['Feedback'] = ['Positive', None, 'Negative']
df

In [ ]:
adf = df.reset_index()
adf['Date'] = pd.Series({0: 'December 1', 2: 'mid-May'})
adf

In [ ]:
staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR'},
                         {'Name': 'Sally', 'Role': 'Course liasion'},
                         {'Name': 'James', 'Role': 'Grader'}])
staff_df = staff_df.set_index('Name')
student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business'},
                           {'Name': 'Mike', 'School': 'Law'},
                           {'Name': 'Sally', 'School': 'Engineering'}])
student_df = student_df.set_index('Name')
print(staff_df.head())
print()
print(student_df.head())

In [ ]:
pd.merge(staff_df, student_df, how='outer', left_index=True, right_index=True)

In [ ]:
pd.merge(staff_df, student_df, how='inner', left_index=True, right_index=True)

In [ ]:
pd.merge(staff_df, student_df, how='left', left_index=True, right_index=True)

In [ ]:
pd.merge(staff_df, student_df, how='right', left_index=True, right_index=True)

In [ ]:
staff_df = staff_df.reset_index()
student_df = student_df.reset_index()
pd.merge(staff_df, student_df, how='left', left_on='Name', right_on='Name')

In [ ]:
staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR', 'Location': 'State Street'},
                         {'Name': 'Sally', 'Role': 'Course liasion', 'Location': 'Washington Avenue'},
                         {'Name': 'James', 'Role': 'Grader', 'Location': 'Washington Avenue'}])
student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business', 'Location': '1024 Billiard Avenue'},
                           {'Name': 'Mike', 'School': 'Law', 'Location': 'Fraternity House #22'},
                           {'Name': 'Sally', 'School': 'Engineering', 'Location': '512 Wilson Crescent'}])
pd.merge(staff_df, student_df, how='left', left_on='Name', right_on='Name')

In [ ]:
staff_df = pd.DataFrame([{'First Name': 'Kelly', 'Last Name': 'Desjardins', 'Role': 'Director of HR'},
                         {'First Name': 'Sally', 'Last Name': 'Brooks', 'Role': 'Course liasion'},
                         {'First Name': 'James', 'Last Name': 'Wilde', 'Role': 'Grader'}])
student_df = pd.DataFrame([{'First Name': 'James', 'Last Name': 'Hammond', 'School': 'Business'},
                           {'First Name': 'Mike', 'Last Name': 'Smith', 'School': 'Law'},
                           {'First Name': 'Sally', 'Last Name': 'Brooks', 'School': 'Engineering'}])
staff_df
student_df
pd.merge(staff_df, student_df, how='inner', left_on=['First Name','Last Name'], right_on=['First Name','Last Name'])

<a id="46"></a> <br>
# 4-4 Idiomatic Pandas: Making Code Pandorable

In [ ]:

df = pd.read_csv('../input/titanic/train.csv')
df

In [ ]:
df = df[df['Age']==50]
df.set_index(['PassengerId','Survived'], inplace=True)
df.rename(columns={'Pclass': 'pclass'})

<a id="47"></a> <br>
## 4-5 Pandas :Group by

In [ ]:

df = pd.read_csv('../input/titanic/train.csv')
df = df[df['Age']==50]
df

In [ ]:
df.head()

<a id="48"></a> <br>
## 4-6 Pandas:Scales

In [ ]:
df = pd.DataFrame(['A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D'],
                  index=['excellent', 'excellent', 'excellent', 'good', 'good', 'good', 'ok', 'ok', 'ok', 'poor', 'poor'])
df.rename(columns={0: 'Grades'}, inplace=True)
df

In [ ]:
df['Grades'].astype('category').head()

In [ ]:
grades = df['Grades'].astype('category',
                             categories=['D', 'D+', 'C-', 'C', 'C+', 'B-', 'B', 'B+', 'A-', 'A', 'A+'],
                             ordered=True)
grades.head()

In [ ]:
grades > 'C'

<a id="49"></a> <br>
## 4-7 Pandas:Date Functionality
###### [Go to top](#top)

<a id="50"></a> <br>
### 4-7-1 Timestamp

In [ ]:
pd.Timestamp('9/1/2016 10:05AM')

<a id="51"></a> <br>
### 4-7-2 Period

In [ ]:
pd.Period('1/2016')

In [ ]:
pd.Period('3/5/2016')

<a id="52"></a> <br>
### 4-7-3 DatetimeIndex

In [ ]:
t1 = pd.Series(list('abc'), [pd.Timestamp('2016-09-01'), pd.Timestamp('2016-09-02'), pd.Timestamp('2016-09-03')])
t1

In [ ]:
type(t1.index)

<a id="53"></a> <br>
### 4-7-4 PeriodIndex

In [ ]:
t2 = pd.Series(list('def'), [pd.Period('2016-09'), pd.Period('2016-10'), pd.Period('2016-11')])
t2

In [ ]:
type(t2.index)

<a id="54"></a> <br>
## 4-8 Pandas: Converting to Datetime

In [ ]:
d1 = ['2 June 2013', 'Aug 29, 2014', '2015-06-26', '7/12/16']
ts3 = pd.DataFrame(np.random.randint(10, 100, (4,2)), index=d1, columns=list('ab'))
ts3

In [ ]:
ts3.index = pd.to_datetime(ts3.index)
ts3

In [ ]:
pd.to_datetime('4.7.12', dayfirst=True)

In [ ]:
pd.Timestamp('9/3/2016')-pd.Timestamp('9/1/2016')

<a id="55"></a> <br>
### 4-8-1 Timedeltas

In [ ]:
pd.Timestamp('9/3/2016')-pd.Timestamp('9/1/2016')

In [ ]:
pd.Timestamp('9/2/2016 8:10AM') + pd.Timedelta('12D 3H')

<a id="56"></a> <br>
### 4-8-2 Working with Dates in a Dataframe

In [ ]:
dates = pd.date_range('10-01-2016', periods=9, freq='2W-SUN')
dates

In [ ]:
df.index.ravel

<a id="57"></a> <br>
## 4-9 Distributions in Pandas
###### [Go to top](#top)

In [ ]:
np.random.binomial(1, 0.5)

In [ ]:
np.random.binomial(1000, 0.5)/1000

In [ ]:
chance_of_tornado = 0.01/100
np.random.binomial(100000, chance_of_tornado)

In [ ]:
chance_of_tornado = 0.01

tornado_events = np.random.binomial(1, chance_of_tornado, 1000000)
    
two_days_in_a_row = 0
for j in range(1,len(tornado_events)-1):
    if tornado_events[j]==1 and tornado_events[j-1]==1:
        two_days_in_a_row+=1

print('{} tornadoes back to back in {} years'.format(two_days_in_a_row, 1000000/365))

In [ ]:
np.random.uniform(0, 1)

In [ ]:
np.random.normal(0.75)

In [ ]:
distribution = np.random.normal(0.75,size=1000)

np.sqrt(np.sum((np.mean(distribution)-distribution)**2)/len(distribution))

In [ ]:
np.std(distribution)

In [ ]:

stats.kurtosis(distribution)

In [ ]:
stats.skew(distribution)

In [ ]:
chi_squared_df2 = np.random.chisquare(2, size=10000)
stats.skew(chi_squared_df2)

In [ ]:
chi_squared_df5 = np.random.chisquare(5, size=10000)
stats.skew(chi_squared_df5)

In [ ]:
output = plt.hist([chi_squared_df2,chi_squared_df5], bins=50, histtype='step', 
                  label=['2 degrees of freedom','5 degrees of freedom'])
plt.legend(loc='upper right')

<a id="58"></a> <br>
## 9-1 Courses
There are a lot of online courses that can help you develop your knowledge, here I have just  listed some of them:

1. [Machine Learning Certification by Stanford University (Coursera)](https://www.coursera.org/learn/machine-learning/)

2. [Machine Learning A-Z™: Hands-On Python & R In Data Science (Udemy)](https://www.udemy.com/machinelearning/)

3. [Deep Learning Certification by Andrew Ng from deeplearning.ai (Coursera)](https://www.coursera.org/specializations/deep-learning)

4. [Python for Data Science and Machine Learning Bootcamp (Udemy)](Python for Data Science and Machine Learning Bootcamp (Udemy))

5. [Mathematics for Machine Learning by Imperial College London](https://www.coursera.org/specializations/mathematics-machine-learning)

6. [Deep Learning A-Z™: Hands-On Artificial Neural Networks](https://www.udemy.com/deeplearning/)

7. [Complete Guide to TensorFlow for Deep Learning Tutorial with Python](https://www.udemy.com/complete-guide-to-tensorflow-for-deep-learning-with-python/)

8. [Data Science and Machine Learning Tutorial with Python – Hands On](https://www.udemy.com/data-science-and-machine-learning-with-python-hands-on/)

9. [Machine Learning Certification by University of Washington](https://www.coursera.org/specializations/machine-learning)

10. [Data Science and Machine Learning Bootcamp with R](https://www.udemy.com/data-science-and-machine-learning-bootcamp-with-r/)
11. [Creative Applications of Deep Learning with TensorFlow](https://www.class-central.com/course/kadenze-creative-applications-of-deep-learning-with-tensorflow-6679)
12. [Neural Networks for Machine Learning](https://www.class-central.com/mooc/398/coursera-neural-networks-for-machine-learning)
13. [Practical Deep Learning For Coders, Part 1](https://www.class-central.com/mooc/7887/practical-deep-learning-for-coders-part-1)
14. [Machine Learning](https://www.cs.ox.ac.uk/teaching/courses/2014-2015/ml/index.html)
 <a id="59"></a> <br>
## 9-2 Ebooks
If you love reading , here is **10 free machine learning books**
1. [Probability and Statistics for Programmers](http://www.greenteapress.com/thinkstats/)
2. [Bayesian Reasoning and Machine Learning](http://web4.cs.ucl.ac.uk/staff/D.Barber/textbook/091117.pdf)
2. [An Introduction to Statistical Learning](http://www-bcf.usc.edu/~gareth/ISL/)
2. [Understanding Machine Learning](http://www.cs.huji.ac.il/~shais/UnderstandingMachineLearning/index.html)
2. [A Programmer’s Guide to Data Mining](http://guidetodatamining.com/)
2. [Mining of Massive Datasets](http://infolab.stanford.edu/~ullman/mmds/book.pdf)
2. [A Brief Introduction to Neural Networks](http://www.dkriesel.com/_media/science/neuronalenetze-en-zeta2-2col-dkrieselcom.pdf)
2. [Deep Learning](http://www.deeplearningbook.org/)
2. [Natural Language Processing with Python](https://www.researchgate.net/publication/220691633_Natural_Language_Processing_with_Python)
2. [Machine Learning Yearning](http://www.mlyearning.org/)
 <a id="60"></a> <br>
## 9-3 Cheat Sheets
Data Science is an ever-growing field, there are numerous tools & techniques to remember. It is not possible for anyone to remember all the functions, operations and formulas of each concept. That’s why we have cheat sheets. But there are a plethora of cheat sheets available out there, choosing the right cheat sheet is a tough task. So, I decided to collect them here

Here I have selected the cheat sheets on the following criteria: comprehensiveness, clarity, and content [5]:
1. [Quick Guide to learn Python for Data Science ](https://github.com/mjbahmani/10-steps-to-become-a-data-scientist/blob/master/cheatsheets/Data-Science-in-Python.pdf)
1. [Python for Data Science Cheat sheet ](https://github.com/mjbahmani/10-steps-to-become-a-data-scientist/blob/master/cheatsheets/beginners_python_cheat_sheet.pdf)
1. [Python For Data Science Cheat Sheet NumPy](https://github.com/mjbahmani/10-steps-to-become-a-data-scientist/blob/master/cheatsheets/Numpy_Python_Cheat_Sheet.pdf)
1. [Exploratory Data Analysis in Python]()
1. [Data Exploration using Pandas in Python](https://github.com/mjbahmani/10-steps-to-become-a-data-scientist/blob/master/cheatsheets/Data-Exploration-in-Python.pdf)
1. [Data Visualisation in Python](https://github.com/mjbahmani/10-steps-to-become-a-data-scientist/blob/master/cheatsheets/data-visualisation-infographics1.jpg)
1. [Python For Data Science Cheat Sheet Bokeh](https://github.com/mjbahmani/10-steps-to-become-a-data-scientist/blob/master/cheatsheets/Python_Bokeh_Cheat_Sheet.pdf)
1. [Cheat Sheet: Scikit Learn ](https://github.com/mjbahmani/10-steps-to-become-a-data-scientist/blob/master/cheatsheets/Scikit-Learn-Infographic.pdf)
1. [MLalgorithms CheatSheet](https://github.com/mjbahmani/10-steps-to-become-a-data-scientist/blob/master/cheatsheets/MLalgorithms-.pdf)
1. [Probability Basics  Cheat Sheet ](https://github.com/mjbahmani/10-steps-to-become-a-data-scientist/blob/master/cheatsheets/probability_cheatsheet.pdf)


<a id="61"></a> <br>
## 10 -Conclusion
You have got an introduction to the main packages and ideas in the **The Data Scientist’s Toolbox Tutorial - 1**. I hope,  you have had fun with it also, I want to hear your voice to update this kernel. in addition, there is the new and second version of the kernel that introduces the next packages. to continue please click on [**The Data Scientist’s Toolbox Tutorial - 2**](https://www.kaggle.com/mjbahmani/the-data-scientist-s-toolbox-tutorial-2)



---------------------------------------------------------------------
Fork, Run and Follow this kernel on GitHub:
> ###### [ GitHub](https://github.com/mjbahmani/10-steps-to-become-a-data-scientist)


-------------------------------------------------------------------------------------------------------------
 **I hope you find this kernel helpful and some <font color="red">UPVOTES</font> would be very much appreciated.**
 
 -----------

<a id="62"></a> <br>
## 11- References
1. [Coursera](https://www.coursera.org/specializations/data-science-python)
1. [GitHub](https://github.com/mjbahmani)
1. [plot.ly](https://plot.ly/python/offline/)
1. [tutorialspoint](https://www.tutorialspoint.com/python/python_classes_objects.htm)
1. [Top 28 Cheat Sheets for Machine Learning](https://www.analyticsvidhya.com/blog/2017/02/top-28-cheat-sheets-for-machine-learning-data-science-probability-sql-big-data/)
###### [Go to top](#top)